<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 폼</title>
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>

<div class="signup-container">
    <h1 style="text-align: center;">마이페이지</h1>
    <div class="logo">
        <img src="images/seq.png" alt="Logo">
    </div>
    <div sec:authorize="isAuthenticated">
        <div class="form-group">
            <label for="username">Username:</label>
            <h4 id="username" sec:authentication="principal.username"></h4>
        </div>
        <div class="form-group">
            <label for="lank">lank:</label>
            <h4 id="lank" sec:authentication="principal.authorities"></h4>
        </div>
<!--        <div class="form-group" sec:authentication="principal.authorities"></div>-->
    </div>

    <div sec:authorize="isAnonymous()">
        <h4>로그인이 필요합니다</h4>
        <form action="/register" method="GET">
            <button type="submit" class="submit-btn">회원 가입</button>
        </form>
    </div>

    <form action="/logout" method="GET">
        <button type="submit" class="submit-btn">로그아웃</button>
    </form>
</div>

</body>
</html>